<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highershine.portal.common.mapper.ActivityUserMapper">

  <delete id="deleteByActivityId" parameterType="java.lang.Long">
    delete from po_activity_user
    where activity_id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.highershine.portal.common.entity.po.ActivityUser" useGeneratedKeys="true" keyProperty="id">
    insert into po_activity_user (user_id, activity_id)
    values (
      #{userId,jdbcType=BIGINT},
      #{activityId,jdbcType=BIGINT})
  </insert>

  <select id="selectByActivityId" parameterType="java.lang.Long" resultType="com.highershine.portal.common.entity.po.ActivityUser">
     select
     id,
     user_id as userId,
     activity_id as activityId
    from po_activity_user
  </select>

    <select id="selectPlayersByActivityId" parameterType="java.lang.Long" resultType="com.highershine.portal.common.entity.vo.ActivityPlayerVo">
     select
     su.id,
     su.nickname
    from po_activity_user pu,sys_user su
    where pu.user_id = su.id
    and su.delete_flag = false
    and su.status = true
    and pu.activity_id = #{id,jdbcType=BIGINT}
  </select>

    <!--查询是否有权限报名-->
    <select id="selectPowerNum" resultType="int">
    select
    count(1)
    from po_activity_user
    where activity_id = #{activityId,jdbcType=BIGINT}
    and user_id = #{userId,jdbcType=BIGINT}
  </select>
</mapper>