<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highershine.portal.common.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.highershine.portal.common.entity.po.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="is_publish" jdbcType="BIT" property="isPublish" />
    <result column="is_need_update" jdbcType="BIT" property="isNeedUpdate" />
    <result column="is_top" jdbcType="BIT" property="isTop" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="thumbnail_id" jdbcType="BIGINT" property="thumbnailId" />
    <result column="is_focus" jdbcType="BIT" property="isFocus" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="draft_id" jdbcType="BIGINT" property="draftId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <resultMap id="voMap" type="com.highershine.portal.common.entity.vo.ArticleVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="thumbnail_id" jdbcType="BIGINT" property="thumbnailId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <!-- 这是映射 -->
    <association property="category" javaType="com.highershine.portal.common.entity.vo.CategoryVo">
      <id column="categoryId" jdbcType="BIGINT" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="alias" jdbcType="VARCHAR" property="alias" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, publish_date, deleted, category_id, is_publish, is_need_update,
    is_top, title, source, link, description, thumbnail_id, is_focus, level, content,
    draft_id, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from po_article
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByDraftId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from po_article
    where draft_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from po_article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.highershine.portal.common.entity.po.Article" useGeneratedKeys="true" keyProperty="id">
    insert into po_article ( publish_date,
      deleted, category_id,
      is_publish, is_need_update, is_top,
      title, source, link,
      description, thumbnail_id, is_focus,
      content, level, draft_id,
      created_at, updated_at)
    values ( #{publishDate,jdbcType=TIMESTAMP},
      #{deleted,jdbcType=BIT}, #{categoryId,jdbcType=BIGINT},
      #{isPublish,jdbcType=BIT}, #{isNeedUpdate,jdbcType=BIT}, #{isTop,jdbcType=BIT},
      #{title,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{thumbnailId,jdbcType=BIGINT}, #{isFocus,jdbcType=BIT},
      #{content,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{draftId,jdbcType=BIGINT},
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.highershine.portal.common.entity.po.Article">
    update po_article
    set
      publish_date = #{publishDate,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      category_id = #{categoryId,jdbcType=BIGINT},
      is_publish = #{isPublish,jdbcType=BIT},
      is_need_update = #{isNeedUpdate,jdbcType=BIT},
      is_top = #{isTop,jdbcType=BIT},
      title = #{title,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      thumbnail_id = #{thumbnailId,jdbcType=BIGINT},
      is_focus = #{isFocus,jdbcType=BIT},
      content = #{content,jdbcType=VARCHAR},
      draft_id = #{draftId,jdbcType=BIGINT},
      level = #{level,jdbcType=INTEGER},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
<!--  获取文章列表-->
  <select id="getArticleList" parameterType="com.highershine.portal.common.entity.dto.ArticleDTO"
          resultMap="voMap">
    select
    pa.id,
    pa.publish_date,
    pa.title,
    pa.link,
    pa.description,
    pa.thumbnail_id,
    pa.content,
    pc.name,
    pa.category_id categoryId,
    pc.alias
    from po_article pa,po_category pc
    where pa.category_id = pc.id and pa.deleted = false and pc.deleted = false
    <if test="categoryId != null">
     and pa.category_id = #{categoryId,jdbcType=BIGINT}
    </if>
    <if test="alias != null and alias != ''">
      and pc.alias = #{alias,jdbcType=VARCHAR}
    </if>
    <if test="categoryId != null">
      and pa.category_id = #{categoryId,jdbcType=BIGINT}
    </if>
    <if test="isFocus != null">
      and pa.is_focus = #{isFocus,jdbcType=BIT}
    </if>
    <if test="keyword != null and keyword != ''">
      and  (pa.title like concat('%',#{keyword, jdbcType=VARCHAR},'%')
      or pa.content like concat('%',#{keyword, jdbcType=VARCHAR},'%'))
    </if>
  </select>

 <!--根据草稿ID假删除-->
  <delete id="deleteFlagByDraftId" parameterType="java.lang.Long">
    delete from po_article
    where draft_id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>