<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highershine.portal.common.mapper.SysUserMapper">

  <select id="getActivityPlayerList" resultType="com.highershine.portal.common.entity.vo.ActivityPlayerVo">
    select
    id,nickname
    from sys_user
    where delete_flag = false
    and status = true
    order by convert_to(nickname, 'GBK')
  </select>

  <select id="selectByUsername" resultType="com.highershine.portal.common.entity.po.SysUser">
    select
    id,
    username,
    nickname,
    password,
    province,
    server_nos as serverNos,
    id_card_no as idCardNo,
    birth_date as birthDate,
    gender,
    phone,
    org_code as orgCode,
    lab_name as labName,
    remark,
    city,
    is_add_org as isAddOrg,
    area,
    job,
    org_add_code as orgAddCode,
    org_add_name as orgAddName,
    lab_code as labCode,
    status,
    delete_flag as deleteFlag,
    create_datetime as createDatetime,
    update_datetime as updateDatetime
    from sys_user
    where delete_flag = false
    and status = true
    and username = #{username, jdbcType=VARCHAR}
  </select>

  <!-- 查询oauth回调地址 -->
  <select id="selectOauthRedirectUri" resultType="java.lang.String">
    select web_server_redirect_uri
    from oauth_client_details
    where client_id = #{clientId, jdbcType=VARCHAR}
  </select>
</mapper>