<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.highershine.portal.common.mapper.SysUserRoleMapper">

    <!--批量插入-->
    <insert id="batchInsert" parameterType="list">
        insert into sys_user_role
        (user_id, role_id, client_id)
        values
        <foreach collection="list" item="item" index="index" separator="," >
          (
            #{item.userId,jdbcType=BIGINT}, #{item.roleId,jdbcType=VARCHAR},#{item.clientId,jdbcType=VARCHAR}
          )
        </foreach>
    </insert>

    <!--根据id删除-->
    <delete id="deleteByUserId" parameterType="java.lang.Long" >
    delete from sys_user_role
    where user_id = #{id,jdbcType=BIGINT}
  </delete>

  <!--客户端角色信息-->
  <resultMap id="selectClientRoleByUserIdMap" type="com.highershine.portal.common.entity.bo.ClientRoleBo">
    <id property="clientId" column="clientId" />
    <collection property="roles" ofType="java.lang.String" javaType="java.util.List">
        <result column="roleId" />
    </collection>
  </resultMap>
  <select id="selectClientRoleByUserId" parameterType="java.lang.Long" resultMap="selectClientRoleByUserIdMap">
    select
    sur.role_id as roleId,
    sc.id as clientId
    from sys_user_role sur,sys_client sc
    where sur.client_id = sc.id
    and sc.delete_flag = false
    and sur.user_id  = #{id, jdbcType=BIGINT}
  </select>
</mapper>