<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highershine.portal.common.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.highershine.portal.common.entity.po.SysUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="server_nos" property="serverNos" jdbcType="VARCHAR" />
    <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="lab_name" property="labName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="org_add_code" property="orgAddCode" jdbcType="VARCHAR" />
    <result column="org_add_name" property="orgAddName" jdbcType="VARCHAR" />
    <result column="lab_code" property="labCode" jdbcType="VARCHAR" />
    <result column="is_add_org" property="isAddOrg" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, username, nickname, password, province, server_nos, id_card_no,
    birth_date, gender, phone, org_code, lab_name, remark, city, is_add_org,
    area, job, org_add_code, org_add_name, lab_code, status, delete_flag, create_datetime, update_datetime
  </sql>

  <!--主键查询-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.highershine.portal.common.entity.po.SysUser" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user (username, nickname, password, province, server_nos, id_card_no,
      birth_date, gender, phone, org_code, lab_name, remark, city, is_add_org,
      area, job, org_add_code, org_add_name, lab_code, status, delete_flag, create_datetime, update_datetime
      )
    values (#{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{province,jdbcType=VARCHAR}, #{serverNos,jdbcType=VARCHAR},  #{idCardNo,jdbcType=VARCHAR},
      #{birthDate,jdbcType=TIMESTAMP}, #{gender,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR},
     #{labName,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{isAddOrg,jdbcType=BIT},
      #{area,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{orgAddCode,jdbcType=VARCHAR}, #{orgAddName,jdbcType=VARCHAR},
      #{labCode,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{deleteFlag,jdbcType=BIT},
      #{createDatetime,jdbcType=TIMESTAMP}, #{updateDatetime,jdbcType=TIMESTAMP}
      )
  </insert>

  <select id="getActivityPlayerList" resultType="com.highershine.portal.common.entity.vo.ActivityPlayerVo">
    select
    id,nickname
    from sys_user
    where delete_flag = false
    and status = true
    order by convert_to(nickname, 'GBK')
  </select>

  <select id="selectByUsername" parameterType="com.highershine.portal.common.entity.dto.SysUserDTO" resultType="com.highershine.portal.common.entity.po.SysUser">
    select
    id,
    username,
    nickname,
    password,
    province,
    server_nos as serverNos,
    id_card_no as idCardNo,
    birth_date as birthDate,
    gender,
    phone,
    org_code as orgCode,
    lab_name as labName,
    remark,
    city,
    is_add_org as isAddOrg,
    area,
    job,
    org_add_code as orgAddCode,
    org_add_name as orgAddName,
    lab_code as labCode,
    status,
    delete_flag as deleteFlag,
    create_datetime as createDatetime,
    update_datetime as updateDatetime
    from sys_user
    where delete_flag = false
    and username = #{username, jdbcType=VARCHAR}
    <if test="id != null">
      and id != #{id, jdbcType=BIGINT}
    </if>
  </select>

  <select id="selectByIdCardNo" parameterType="com.highershine.portal.common.entity.dto.SysUserDTO" resultType="com.highershine.portal.common.entity.po.SysUser">
    select
    id,
    username,
    nickname,
    password,
    province,
    server_nos as serverNos,
    id_card_no as idCardNo,
    birth_date as birthDate,
    gender,
    phone,
    org_code as orgCode,
    lab_name as labName,
    remark,
    city,
    is_add_org as isAddOrg,
    area,
    job,
    org_add_code as orgAddCode,
    org_add_name as orgAddName,
    lab_code as labCode,
    status,
    delete_flag as deleteFlag,
    create_datetime as createDatetime,
    update_datetime as updateDatetime
    from sys_user
    where delete_flag = false
    and id_card_no = #{idCardNo, jdbcType=VARCHAR}
    <if test="id != null">
      and id != #{id, jdbcType=BIGINT}
    </if>
  </select>

   <select id="selectByOrgCodeJob" parameterType="com.highershine.portal.common.entity.dto.SysUserDTO" resultType="int">
    select
    count(1)
    from sys_user
    where delete_flag = false
    and org_code = #{orgCode, jdbcType=VARCHAR}
    and job = #{job, jdbcType=VARCHAR}
     <if test="id != null">
       and id != #{id, jdbcType=BIGINT}
     </if>
   </select>

  <!-- 查询oauth回调地址 -->
  <select id="selectOauthRedirectUri" resultType="java.lang.String">
    select web_server_redirect_uri
    from oauth_client_details
    where client_id = #{clientId, jdbcType=VARCHAR}
  </select>

  <!-- 修改密码 -->
  <update id="updatePassword">
    update sys_user set password = #{password, jdbcType=VARCHAR} where id = #{id, jdbcType=BIGINT}
  </update>

  <!-- 修改ext_id -->
  <update id="updateExtId">
    update sys_user set ext_id = #{id, jdbcType=BIGINT} where id = #{id, jdbcType=BIGINT}
  </update>

  <!-- 用户删除 -->
  <update id="deleteUserById">
    update sys_user set delete_flag = true where id = #{id, jdbcType=BIGINT}
  </update>

  <!--更新-->
  <update id="updateByPrimaryKey" parameterType="com.highershine.portal.common.entity.po.SysUser">
    update sys_user
    set
      username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      server_nos = #{serverNos,jdbcType=VARCHAR},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      lab_name = #{labName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      is_add_org = #{isAddOrg,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      birth_date = #{birthDate,jdbcType=BIT},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    WHERE id = #{id}
  </update>


  <resultMap id="selectListByDtoMap" type="com.highershine.portal.common.entity.vo.SysUserListVo">
    <id property="id" column="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="lab_name" jdbcType="VARCHAR" property="labName" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime" />
    <collection property="roleNameList" ofType="java.lang.String" javaType="java.util.List"
                select="selectRoleNameByUserId"  column="id">
    </collection>
  </resultMap>
  <select id="selectListByDto" parameterType="com.highershine.portal.common.entity.dto.SysUserListDTO" resultMap="selectListByDtoMap">
    select
    distinct
    su.id,
    su.username,
    su.nickname,
    su.province,
    su.phone,
    su.lab_name,
    su.city,
    su.area,
    su.status,
    su.update_datetime
    from sys_user su
    left join sys_user_role sur on sur.user_id = su.id and sur.client_id = 'website'
    left join sys_role sr on  sur.role_id =sr.id
    where su.delete_flag = false
    and sr.active_flag = true
    <if test="username != null and username != ''">
      and su.username like concat('%',#{username, jdbcType=VARCHAR},'%')
    </if>
    <if test="nickname != null and nickname != ''">
      and su.nickname like concat('%',#{nickname, jdbcType=VARCHAR},'%')
    </if>
    <if test="roleIds != null">
      and sr.id in
      <foreach collection="roleIds" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
    </if>
    <if test="provinceFlag == true" >
      and su.city is null
    </if>
    <if test="status != null" >
     and su.status = #{status,jdbcType=BIT}
    </if>
    order by su.update_datetime desc
  </select>
  <select id="selectRoleNameByUserId" resultType="java.lang.String">
    select
    sr.role_name
    from  sys_user_role sur,sys_role sr
    where sur.role_id =sr.id
    and sr.active_flag = true
    and sur.client_id = 'website'
    and sur.user_id = #{id,jdbcType=BIGINT}
    order by sr.role_ord asc
  </select>
</mapper>