<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highershine.portal.common.mapper.ThumbnailMapper">
  <resultMap id="BaseResultMap" type="com.highershine.portal.common.entity.po.Thumbnail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bucket_name" jdbcType="VARCHAR" property="bucketName" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bucket_name, file_name, url, deleted, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from po_thumbnail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from po_thumbnail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.highershine.portal.common.entity.po.Thumbnail" useGeneratedKeys="true" keyProperty="id">
    insert into po_thumbnail (bucket_name,
      file_name, url, deleted,
      created_at, updated_at)
    values ( #{bucketName,jdbcType=VARCHAR},
      #{fileName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT},
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.highershine.portal.common.entity.po.Thumbnail">
    update po_thumbnail
    set bucket_name = #{bucketName,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>